[submodule "lib/phaser"]
	path = lib/phaser
	url = https://github.com/aucguy/phaser.git
[submodule "lib/Basejs"]
	path = lib/Basejs
	url = https://github.com/aucguy/Basejs.git
[submodule "lib/canvg"]
	path = lib/canvg
	url = https://github.com/aucguy/canvg.git
[submodule "lib/javascript-state-machine"]
	path = lib/javascript-state-machine
	url = https://github.com/aucguy/javascript-state-machine.git
